<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlServerConnString" providerName="System.Data.SqlClient" connectionString="Data Source=mssql914.umbler.com,5003;Initial Catalog=Sennit;User Id=sennit; Password=admin2000;MultipleActiveResultSets=True" />
  </connectionStrings>
</configuration>